body{
    margin-left: 10px;
}

h1{
    font-size: -webkit-xxx-large;
}
h2{
    font-size: xx-large;
}

img {
    width: 165px;
    height: 110px;
}

.imagebox {
    float: left;
    border: 2px solid green;
    text-align: center;
    padding: 0px 20px;
}

.imagebox p {
    margin: 0;
}

.imagebox img {
    margin: 4px 0px;
}

.clearfix:after {
    content: "";
    display: block;
    float: none;
    clear: both;
}